.parall {
  background-image: url("/assets/images/para.jpeg");
  height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.parall2 {
  background-image: url("/assets/images/2nd-para.jpeg");
  height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}